In [1]:
import pandas as pd

C:\ProgramData\Miniconda3\envs\ml_env_v1\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\ProgramData\Miniconda3\envs\ml_env_v1\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
C:\ProgramData\Miniconda3\envs\ml_env_v1\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
ss = pd.read_csv('../context_data/sample_submission.csv', index_col='user_id')
v125_722_gender_list = []
for i in range(10):
    v125_722_gender_list.append(pd.read_csv(f'../train/v125_722/fold_{i+1}/y_test.csv', index_col='user_id'))
v125_722_gender = pd.DataFrame(pd.concat(v125_722_gender_list, axis=1).mean(axis=1), columns=['is_male'])

v125_723_gender_list = []
for i in range(10):
    v125_723_gender_list.append(pd.read_csv(f'../train/v125_723/fold_{i+1}/y_test.csv', index_col='user_id'))
v125_723_gender = pd.DataFrame(pd.concat(v125_723_gender_list, axis=1).mean(axis=1), columns=['is_male'])

v131_gender_list = []
for i in range(8):
    v131_gender_list.append(pd.read_csv(f'../train/v131/fold_{i+1}/y_test.csv', index_col='user_id'))
v131_gender = pd.DataFrame(pd.concat(v131_gender_list, axis=1).mean(axis=1), columns=['is_male'])

v121_gender = pd.read_csv('../train/v121/sub_v121_gender_iter2_rs_1.csv', index_col='user_id')
v124_gender = pd.read_csv('../train/v124.1/lgbm_age_5fold.csv', index_col='user_id')


v128_722_age = pd.DataFrame(index=pd.read_csv(f'../train/v128_722/fold_1/y_test.csv').user_id)
v128_722_age[[str(i) for i in (range(1,7))]] = 0
for i in range(10):
    v128_722_age += pd.read_csv(f'../train/v128_722/fold_{i+1}/y_test.csv', index_col='user_id')
v128_722_age = v128_722_age / 10

v128_723_age = pd.DataFrame(index=pd.read_csv(f'../train/v128_723/fold_1/y_test.csv').user_id)
v128_723_age[[str(i) for i in (range(1,7))]] = 0
for i in range(10):
    v128_723_age += pd.read_csv(f'../train/v128_723/fold_{i+1}/y_test.csv', index_col='user_id')
v128_723_age = v128_723_age / 10

v132_age = pd.DataFrame(index=pd.read_csv(f'../train/v132/fold_1/y_test.csv').user_id)
v132_age[[str(i) for i in (range(1,7))]] = 0
for i in range(10):
    v132_age += pd.read_csv(f'../train/132/fold_{i+1}/y_test.csv', index_col='user_id')
v132_age = v132_age / 10

v114_1_0_age = pd.read_csv(f'../train/v114/sub_v114_age_iter1_rs_0.csv', index_col='user_id')

In [3]:
ss['age'] = ((v132_age * 0.98 + v128_722_age * 0.01 + v128_723_age * 0.01) * 0.96 + v114_1_0_age * 0.04).idxmax(axis=1)

ss['is_male'] = (v131_gender * 0.9 + v125_722_gender * 0.05 + v125_723_gender * 0.05) * 0.85 + \
                (v124_gender * 0.6 + v121_gender * 0.4) * 0.15

ss.to_csv('sub80.csv')

In [4]:
ss

        age   is_male
user_id
6         2  0.038143
11        5  0.905140
19        2  0.119162
27        2  0.814929
32        5  0.021929
...      ..       ...
161841    3  0.635073
179608    3  0.049739
378281    2  0.966298
169278    1  0.070205
135060    2  0.042729

[144724 rows x 2 columns]